* {
    padding: none;
    margin: none;
    box-sizing: none;
}

body {
    background-color: #6f7d8cff;
    font-family: 'open sans', sans-serif;
}




--eerie-black: #191716ff;
--slate-gray: #6f7d8cff;
--blue-gray: #6496c0ff;
--platinum: #e2e2e2ff;
--mint-cream: #f7fff6ff;